{% extends 'main/_base.html' %}

{% block content %}
<main class="container mx-auto px-4 py-10">

  <section id="glass-section" class="glassmorphism animate-floating rounded-xl shadow-2xl p-8 bg-opacity-60 border border-gradient-to-r from-primary to-accent text-center">
    <h1 class="text-5xl font-bold mb-6 text-white text-center">Welcome to prnsonal page</h1>
    <p class="mb-6 text-white text-lg text-center">This page contin info about Saleh Alrashidi I hope you will engjoy the tripe you will take</p>
    <button class="cta-button py-3 px-8 rounded-full bg-secondary hover:bg-highlight transition duration-500 ease-in-out hover:ring-4 hover:ring-highlight mx-auto">
      <a href="{% url 'about_views' %}">Click to start</a></button>
  </section>
{% comment %} 
  project that I worked on
 {% endcomment %}

</main>
{% endblock %}
